.actions .shiki {
  background-color: var(--codinit-elements-actions-code-background) !important;
  border: 1px solid var(--codinit-elements-borderColor) !important;
}

.shiki {
  &:not(:has(.actions), .actions *, .mcp-tool-invocation-code *) {
    background-color: var(--codinit-elements-messages-code-background) !important;
    border: 1px solid var(--codinit-elements-borderColor) !important;
  }
}
